# triangle_text_art
Jalankan kode pada sel-sel di bawah ini sehingga identitas Anda tertampilkan dengan benar dan gambar segitiga dengan huruf-huruf dapat tertampilkan.

In [1]:
from IPython.core.display import HTML
HTML("<script>Jupyter.notebook.kernel.restart()</script>")

import sys, os
sys.path.insert(1, os.path.join(sys.path[0], '../..'))

from src.student import Students as stu
nim = 10219112
print(nim, end=' ')
print(stu[nim]['name'], end=' ')
print("https://github.com/", stu[nim]['github'], sep='')

10219112 Hanz Hamzah Kusumah https://github.com/HanzHamzahK

Hasil yang diharapkan

0123456789<br>
012345678<br>
01234567<br>
0123456<br>
012345<br>
0123<br>
012<br>
01<br>
0

Untuk mendapatkan hasil seperti di atas, koreksi hanya **baris 1** kode berikut ini.

In [2]:
for row in range(11):
    for col in range(0, row):
        print(col, end='')
    print()

0
01
012
0123
01234
012345
0123456
01234567
012345678
0123456789

Koreksi dilakukan pada bagian 
```python
in range (11):
```
menjadi 
```python
in range (10,0,-1):
```
sehingga diperoleh hasil sebagai berikut

In [3]:
for row in range(10,0,-1):
    for col in range(0, row):
        print(col, end='')
    print()

0123456789
012345678
01234567
0123456
012345
01234
0123
012
01
0